services:
  db:
    image: postgres:15
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres #your postgres username
      POSTGRES_PASSWORD: password #your password
      POSTGRES_DB: wglappdb #your DB name
    volumes:
      - db_volume:/var/lib/postgresql/data
    restart: always

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - '3000:3000' #host:container
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    depends_on:
      - db

volumes:
  db_volume:
