name: CI - Unitary tests and lint

on:
    push:
        branches: ["main", "develop", "feature/ci-docker"]
    pull_request:
        branches: ["main", "develop", "feature/ci-docker"]

jobs:
    backend-lint:
        name: Backend Lint
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: backend
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20

            - name: Install dependencies
              run: npm ci

            - name: Run Backend ESLint
              run: npm run lint
    
    backend-tests:
        name: Backend Tests
        runs-on: ubuntu-latest
        needs: [backend-lint]
        defaults:
            run:
                working-directory: backend
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20

            - name: Install dependencies
              run: npm ci

            - name: Run Backend Tests
              run: npm run test

    frontend-lint:
        name: Frontend Lint
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: frontend
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20

            - name: Install dependencies
              run: npm ci

            - name: Run Frontend ESLint
              run: npm run lint   

    frontend-tests:
          name: Frontend Tests
          runs-on: ubuntu-latest
          needs: [frontend-lint]
          defaults:
              run:
                  working-directory: frontend
          steps:
              - name: Checkout repository
                uses: actions/checkout@v4

              - name: Setup Node.js
                uses: actions/setup-node@v4
                with:
                  node-version: 20

              - name: Install dependencies
                run: npm ci

              - name: Run Frontend Tests
                run: npm run test